*/target
.idea
AirCheck/activities.json
AirCheck/air.json
AirCheck/pollen.txt
AirCheck/src/main/java/me/jasonhorkles/aircheck/Secrets.java
FancyFriend/ping-settings.json
FancyFriend/src/main/java/me/jasonhorkles/fancyfriend/Secrets.java
MCB.zip
MusicMommy.zip
Phoenella/channel-blacklist.txt
Phoenella/dictionarytest.json
Phoenella/Shush Data
Phoenella/Sounds
Phoenella/src/main/java/me/jasonhorkles/phoenella/Secrets.java
Phoenella/user-warnings.json
Phoenella/Wordle
Polytrichopsida/src/main/java/me/jasonhorkles/polytrichopsida/Secrets.java
Quorum.zip
Silverstone/src/main/java/me/jasonhorkles/silverstone/Secrets.java
Silverstone/src/main/java/me/jasonhorkles/silverstone/Testing.java
StartupTesting
StormAlerts/Alert History/
StormAlerts/lastlightningid.txt
StormAlerts/records-today.json
StormAlerts/records.json
StormAlerts/src/main/java/me/jasonhorkles/stormalerts/Secrets.java
StormAlerts/Tests
TheDawg.zip
Zoom.zip
