*/target
.idea
AirCheck/air.json
AirCheck/pollen.json
AirCheck/src/main/java/me/jasonhorkles/aircheck/Secrets.java
MCB/src/main/java/me/jasonhorkles/mcb/Secrets.java
MusicDaddy/Outro Song.mp3
MusicDaddy/Outro Song 2.mp3
MusicDaddy/Outro Song 3.mp3
MusicDaddy/Shutting Down.mp3
MusicDaddy/src/main/java/me/jasonhorkles/musicdaddy/Secrets.java
Phoenella/channel-blacklist.txt
Phoenella/dictionarytest.json
Phoenella/Shush Data
Phoenella/Sounds
Phoenella/src/main/java/me/jasonhorkles/phoenella/Secrets.java
Phoenella/Wordle
Quorum/lessons.txt
Quorum/src/main/java/me/jasonhorkles/quorum/Events.java
Quorum/src/main/java/me/jasonhorkles/quorum/Secrets.java
Silverstone/src/main/java/me/jasonhorkles/silverstone/Secrets.java
Silverstone/src/main/java/me/jasonhorkles/silverstone/Testing.java
StartupTesting
StormAlerts/src/main/java/me/jasonhorkles/stormalerts/Secrets.java
StormAlerts/Tests
Zoom
