*/target
.idea
AirCheck/activities.json
AirCheck/air.json
AirCheck/pollen.json
AirCheck/src/main/java/me/jasonhorkles/aircheck/Secrets.java
MCB/src/main/java/me/jasonhorkles/mcb/Secrets.java
MusicDaddy.zip
Phoenella/channel-blacklist.txt
Phoenella/dictionarytest.json
Phoenella/Shush Data
Phoenella/Sounds
Phoenella/src/main/java/me/jasonhorkles/phoenella/Secrets.java
Phoenella/Wordle
Quorum/lessons.txt
Quorum/src/main/java/me/jasonhorkles/quorum/Events.java
Quorum/src/main/java/me/jasonhorkles/quorum/Secrets.java
Silverstone/src/main/java/me/jasonhorkles/silverstone/Secrets.java
Silverstone/src/main/java/me/jasonhorkles/silverstone/Testing.java
StartupTesting
StormAlerts/lastlightningid.txt
StormAlerts/records-today.json
StormAlerts/records.json
StormAlerts/src/main/java/me/jasonhorkles/stormalerts/Secrets.java
StormAlerts/Tests
Zoom